In [1]:
import pandas as pd

In [2]:
paris_listings = pd.read_csv('Airbnb Data/Prepared Data/obj1_paris_listings.csv', 
                             encoding='ISO-8859-1',
                             low_memory=False,
                             parse_dates=["host_since"])

In [3]:
paris_listings_neighbourhood = (
    paris_listings
    .groupby('neighbourhood')
    .agg({'price':'mean'})
    .sort_values('price')
)
paris_listings_neighbourhood.tail()

                     price
neighbourhood
Luxembourg      155.638639
Palais-Bourbon  156.856578
Passy           161.144635
Louvre          175.379972
Elysee          210.536765

In [4]:
paris_listings_accommodates = (
    paris_listings
    .query("neighbourhood == 'Elysee'")
    .groupby('accommodates')
    .agg({'price':'mean'})
    .sort_values('price')  
)

paris_listings_accommodates.head()

                   price
accommodates
0               0.000000
1              79.522222
3             152.828767
2             155.103352
4             212.096070

In [8]:
paris_listings_over_time = (
    paris_listings
    .set_index("host_since")
    .resample("Y")
    .agg({
        "neighbourhood" : "count",
        "price" : "mean"
    })
)

paris_listings_over_time.head()

/var/folders/l7/bbtn0nwj0k7050rlqx3cgp540000gn/T/ipykernel_4610/1185690076.py:4: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  .resample("Y")

            neighbourhood       price
host_since
2008-12-31              4   77.750000
2009-12-31            106  159.641509
2010-12-31            416  125.031250
2011-12-31           1339  124.828230
2012-12-31           4592  111.578615

In [7]:
paris_listings_neighbourhood.to_csv("Airbnb Data/Prepared Data/obj2_paris_listings_neighbourhood.csv")
paris_listings_over_time.to_csv("Airbnb Data/Prepared Data/obj2_paris_listings_over_time.csv")